<!DOCTYPE html>
<html>
    <head>
        <title>Dagbok</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }

            @media (max-width: 980px) {
                /* Enable use of floated navbar text */
                .navbar-text.pull-right {
                    float: none;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        </style>
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Dagbok</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Innlogget som <a href="#" class="navbar-link">brukernavn</a>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="#">Hjem</a></li>
                            <li><a href="#about">Om</a></li>
                            <li><a href="#contact">Kontakt</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Sidebar</li>
                            <li class="active"><a href="#">Link</a></li>
                            <li class="nav-header">Sidebar</li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
